PG_EMAIL=dummy@dummy.com
PG_PASSWORD=123DummyPass
# Password for the 'elastic' user (at least 6 characters)
ELASTIC_PASSWORD=123DummyPass

# Password for the 'kibana_system' user (at least 6 characters)
KIBANA_PASSWORD=123DummyPass

# Version of Elastic products
STACK_VERSION=8.12.2

# Set the cluster name
CLUSTER_NAME=docker-cluster

# Set to 'basic' or 'trial' to automatically start the 30-day trial
LICENSE=basic
# LICENSE=trial

# Port to expose Elasticsearch HTTP API to the host
ES_PORT=9200
# ES_PORT=127.0.0.1:9200

# Port to expose Kibana to the host
KIBANA_PORT=5601

# Port to expose APM Server to the host
APM_PORT=8200

# Increase or decrease based on the available host memory (in bytes)
ES_MEM_LIMIT=1073741824
KB_MEM_LIMIT=1073741824
LS_MEM_LIMIT=1073741824

VOLUME_LOCATION=./.data/elasticsearch

# Project namespace (defaults to the current folder name if not set)
# COMPOSE_PROJECT_NAME=myproject

OPENAI_API_KEY=sk-aaa
LLMONITOR_APP_ID="x"
MAIL_USERNAME=dummy@dummy.com
MAIL_PWD=zxcasdqwebnmjkliop
MAIL_READONLY=true
ELASTICSEARCH_USERNAME=elastic
ELASTICSEARCH_PASSWORD=123DummyPass
ELASTICSEARCH_INDEX=registers
TELEGRAM_TOKEN=TELEGRAM_TOKEN
TELEGRAM_CHATID=TELEGRAM_CHAT_ID
MAIL_BOX=Wallet
ELASTICSEARCH_HOST=http://es01:9200
DATABASE_URI=postgresql+psycopg2://wallet:123DummyPass@postgres/wallet
USER_FULL_NAME="Your Name or the Owner Account Name"
USER_DETAILS="" # You can add more details for your account main identification
